<div class="w3-col s6">
    <div class="card" style="width:92%;max-width:300px;">
        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="width:100%;opacity:0.85">
        <div class="container">
            <h5>
                <b> {{title}} </b>
            </h5>
            <p>
                Architect &amp; Engineer
            </p>
        </div>
    </div>
</div>
